<div class="LandingPage">
    <div class="coverImg">
        <div class="container-fluid">
            <div class="row">
                <app-header></app-header>

                <div class="home">
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-12 col-lg-6 col-xl-6">

                                <h1 class="Title mt-4">
                                    Make them
                                    <span>Happy!</span>
                                </h1>
                                <p class="desc">
                                    Show your support to the night shifters by sending them a gift & a nice message
                                </p>

                                <button class=" btn MakeThemHappyBtn">
                                    Make Them Happy 
                                    <fa-icon [icon]="faArrowRight"></fa-icon>
                                </button>

                            </div>
                        </div>
                    </div>
                    <app-footer></app-footer>

                </div>
            </div>
        </div>
    </div>
</div>