.header {
    .Logo{
        position: relative;
        top: 30px;
    
    }
    .ListNav {
        justify-content: end !important;

        ul {
            text-align: end;
            justify-content: end;
            display: contents;

            li {
                .ActivateLink{
                    color: #C9AA5C;
                }
                a ,.BtnMenu {
                    font-family: var(--fontFamilyen);
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                   margin:  0 10px;
                    color: #FFFFFF;
                }
            }
        }
    }
}
:host ::ng-deep
{ .dropdown-toggle::after {
color: #C9AA5C !important;

}
.navbar-toggler {
   
    
    color: white !important;
    background-color: transparent !important;
    border: var(--bs-border-width) solid white !important;

}
}