<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-0 col-lg-9 col-xl-9">
             
              
            </div>
            <div class="col-12 col-lg-3 col-xl-3 d-flex">
                <div class="d-flex">
                    <input id="typeahead-basic" type="text" class="form-control" placeholder="search ....." />
                    <fa-icon class="icon-search" [icon]="faMagnifyingGlass"></fa-icon>
                </div>
                <div class="mt-2">
                    <fa-icon class="alert" [icon]="faBell"></fa-icon>
    
                </div>
                <div  class="mt-2">
                    <fa-icon class="user" [icon]="faCircleUser"></fa-icon>

    
                </div>

                
            </div>

            
        </div>
    
    
    </div>
</div>
