<div class="Item">
	<div class="container padding0">
		<div class="row">
			<div class="col-12 ">
				<div class="margin">
					<div class="row">
						<div class="col-12 col-md-12 col-lg-6 col-xl-6">
							<p class="Sub-title">Category /Challenge / <span>Add New</span></p>
						</div>
						<div class="col-12 col-md-12 col-lg-6 col-xl-6">
							<p class="Sub-title2"> Last database update:<span> Sep 20, 2022</span></p>


						</div>
					</div>
					<div class="selectRow">
						<div class="row">
							<div class="col-6">
								<p class="select">3. Select Rewards</p>
							</div>
							<div class="col-6">
								<p class="steps"><span> 3 </span>/ 4 steps</p>
							</div>

						</div>
						<div class="row">
							<div class="col-2">
								<div class="divSelect1"></div>
							</div>
							<div class="col-4">
								<div class="divSelect2"></div>
							</div>
							<div class="col-4">
								<div class="divSelect3"></div>
							</div>
							<div class="col-2">
								<div class="divSelect4"></div>
							</div>
						</div>
					</div>
					<!-- first menu -->
					<ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="toggle-1">
						<ngb-panel id="toggle-1">
							<ng-template ngbPanelTitle>
								<div class="container-fluid">
									<div class="row">
										<div class="col-12 col-lg-11 col-xl-11">
											<div class="d-flex FirstRow">
												<p> 1st Reward </p>
												<fa-icon [icon]="faPenToSquare"></fa-icon>
											</div>
										</div>
										<div class="col-1 Remove">
											<fa-icon [icon]="faTrashCan"></fa-icon>

										</div>
									</div>
								</div>


							</ng-template>
							<ng-template ngbPanelContent>
								<div class="row">
									<div class="col-12 col-lg-3 col-xl-3">
										<label for="yt" class="LabelRewards">Rewards <span
												class="starRew">*</span></label>
										<div class="col">

											<div ngbDropdown class="d-inline-block w-100">

												<button type="button" class="btn btn-outline-primary pointBtn"
													id="dropdownBasic1" ngbDropdownToggle>
													Point
												</button>
												<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
													<button ngbDropdownItem>Point 1</button>
													<button ngbDropdownItem>Point 2</button>
													<button ngbDropdownItem>Point 3</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-lg-2 col-xl-2">
										<label for="yt" class="LabelRewards">Rewards <span
												class="starRew">*</span></label>

										<input id="typeahead-basic" type="text" class="form-control pointBtn"
											placeholder="" />

									</div>
									<div class="col-12 col-lg-3 col-xl-3">
										<label for="yt" class="LabelRewards">Expiary Duration <span
												class="starRew">*</span></label>


										<div class="row">
											<div class="col-4" style="padding-right: 1px;">
												<input id="typeahead-basic" type="text" class="form-control pointBtn "
													placeholder="" />

											</div>
											<div class="col-8">
												<div class="col">

													<div ngbDropdown class="d-inline-block w-100">

														<button type="button" class="btn btn-outline-primary pointBtn"
															id="dropdownBasic1" ngbDropdownToggle>
															Months
														</button>
														<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
															<button ngbDropdownItem>January</button>
															<button ngbDropdownItem>February</button>
															<button ngbDropdownItem>March</button>
														</div>
													</div>
												</div>
											</div>

										</div>

									</div>
									<div class="col-12 col-lg-4 col-xl-4">
										<label for="yt" class="LabelRewards">Tag</label>

										<input id="typeahead-basic" type="text" class="form-control pointBtn Tag"
											placeholder="Add Tag" />

									</div>

								</div>
							</ng-template>
						</ngb-panel>

					</ngb-accordion>
<!-- div and & or -->
					<div class="On-OR">
						<div class="row">
							<div class="col-6">
								<div class="Btn-OrAnd">
									<button class="Btn-And">And </button>
									<button class="Btn-Or">Or </button>
								</div>
							</div>
							<div class="col-6 Div2">

							</div>
						</div>
					</div>
					<!-- second menu -->
					<ngb-accordion #acc="ngbAccordion">


						<ngb-panel id="toggle-2">
							<ng-template ngbPanelTitle>
								<div class="container-fluid">
									<div class="row">
										<div class="col-12  col-lg-11 col-xl-11">
											<div class="d-flex FirstRow">
												<p> 2nd Reward </p>
												<fa-icon [icon]="faPenToSquare"></fa-icon>
											</div>
										</div>
										<div class="col-1 Remove">
											<fa-icon [icon]="faTrashCan"></fa-icon>

										</div>
									</div>
								</div>


							</ng-template>
							<ng-template ngbPanelContent>
								<div class="row">
									<div class="col-12 col-lg-3 col-xl-3">
										<label for="yt" class="LabelRewards">Rewards <span
												class="starRew">*</span></label>
										<div class="col">

											<div ngbDropdown class="d-inline-block w-100">

												<button type="button" class="btn btn-outline-primary pointBtn"
													id="dropdownBasic1" ngbDropdownToggle>
													Vouchers
												</button>
												<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
													<button ngbDropdownItem>Vouchers 1</button>
													<button ngbDropdownItem>Vouchers 2</button>
													<button ngbDropdownItem>Vouchers 3</button>
												</div>
											</div>
										</div>
									</div>
									<div class=" col-12 col-lg-5 col-xl-5">
										<label for="yt" class="LabelRewards">Offer Group <span
												class="starRew">*</span></label>

										<input id="typeahead-basic" type="text" class="form-control pointBtn"
											placeholder="" />

									</div>

									<div class="col-12 col-lg-4 col-xl-4">
										<label for="yt" class="LabelRewards">Text code</label>

										<input id="typeahead-basic" type="text" class="form-control pointBtn Tag"
											placeholder="" />

									</div>

								</div>
							</ng-template>
						</ngb-panel>
					</ngb-accordion>
					<div class="On-OR">
						<div class="row">
							<div class="col-6">
						<div class="Btn-OrAnd Btn-OrAnd2">
							<button class="Btn-And"> + Add new Reward  </button>
						</div>
							</div>
							<div class="col-6 Div3">
								
							</div>
						</div>
						</div>
						<!-- button cancel & next -->
						<div class="BtnClose-Next">
							<button class="Cancel"> Cancel </button>
							<button class="Next"> Next</button>
		
						</div>
				</div>
				



			</div>

		</div>
		
		
	</div>
</div>