.footer {
    margin-top: 50px;

    .styleText {
        font-family: var(--fontFamilyen);
        font-style: normal;
        font-weight: 300;
        font-size: 16px;



        color: #FFFFFF
    }

    ul {
        padding: 0;
        text-align: end;
        list-style: none;
        display: flex;
        justify-content: center;

        li {
            padding: 0 20px;
            @extend .styleText
        }
    }

    p {
        text-align: center;
        justify-content: center;
        font-size: 15px !important;
        margin: 0 0px 0 20px;
        @extend .styleText;

        
    }

    .SocialMedia {
        justify-content: end ;

        li {
            padding: 0 5px !important;
            line-height: 50px !important;
        }
    }
}
@media(max-width:800px){
    ul , .SocialMedia{
     
        justify-content:  center !important;
        li{
            padding:  0 10px !important;
            font-size: 14px !important;
        }
       
    }
    .Links{
        margin-top: 20px;

        p{
            font-size: 13px !important;
            margin: 0 !important;
        }
    }
}