<div class="footer mt-4">

    <div class="container">
        <div class="row">
            <div class="col-7 col-lg-2 col-xl-2">
                <img src="./../../../assets/img/MondelezLogo.svg" alt="Logo" width="70%" height="100%"
                    class="d-inline-block align-text-top Logo">

            </div>
            <div class="col-12 col-lg-6 col-xl-6">
                <div class="Links">
                    <ul>
                        <li>Privacy Notice</li>
                        <li>Terms of Use</li>
                        <li>Contact Us</li>
                    </ul>
                    <p>2023 CopyRight Mondelez Egypt Food S.A.E All Rights Reserved</p>
                </div>
            </div>
            <div class=" col-12 col-lg-4 col-xl-4">
                <ul class="SocialMedia">
                    <li>
                        Follow us on
                    </li>
                    <li>
                        <img src="./../../../assets/img/Icon/Facebook.svg" alt="faceb0ok" width="100%" height="100%">

                    </li>
                    <li>
                        <img src="./../../../assets/img/Icon/Instagram.svg" alt="Instagram" width="100%" height="100%">

                    </li>
                    <li>
                        <img src="./../../../assets/img/Icon/Youtube.svg" alt="Youtube" width="100%" height="100%">

                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>