<div class="navbar">
<img  class="imgLogo" src="assets/img/logo.PNG" alt="" srcset="">



<ul>
    <li>
        <img  class="imgLogo" src="assets/img/circule.PNG" alt="" srcset="">

    </li>
    <li>
        <img  class="imgLogo" src="assets/img/edit.PNG" alt="" srcset="">

    </li>
    <li>
        <img  class="imgLogo" src="assets/img/store.PNG" alt="" srcset="">

    </li>
    <li class="shop">
        <fa-icon [icon]="faShop"></fa-icon>
    </li>
    <li>
        <fa-icon [icon]="faGear"></fa-icon>
    </li>
    <li>
        <fa-icon [icon]="faCircleUser"></fa-icon>
    </li>
  
</ul>


<div class="About_Logout">
    <p>About</p>
    <p>Logout</p>
</div>





</div>