.navbar{
    background-color: #3d87b7;
    text-align: center;
    margin: 20px 1px;
    border-radius: 20px;
    padding: 20px 5px;
    .imgLogo{
        width: 100%;
    }
    ul{
        list-style: none;
    padding: 0;
    margin: auto;
    }
    li{
    //     width: 30px;
    // height: 30px;
    margin-top: 20px;
  
    img{
        width: 30px;
    height: 30px; 
    }
    fa-icon{
        color: white;
       
        
        font-size: 18px;
    }
    fa-icon:hover{
        background-color: white;
        color:  #3d87b7;
     
    }
    }
    .shop{
        width: 50px !important;
        border-radius: 10px !important;
    
        background-color: white !important;
        fa-icon{
            background-color: white;
            color:  #3d87b7 !important;
         
        }
    }
    li:hover{
        width: 50px;
        border-radius: 10px;
  
        background-color: white;
    }
    .About_Logout{
        // margin-top: 20vh;
        margin:  20vh auto  10vh auto;

        p{
            font-family: var(--fontFamilyMonster);
            font-size: 12px;
            color: white;
            font-weight: 200;
            text-align: center;
        }
    }
}
